board/**/*.asm.*
board/**/*.done
board/**/*.eda.*
board/**/*.fit.*
board/**/*.flow.*
board/**/*.map.*
board/**/*.pin
board/**/*.pof
board/**/*.qpf
board/**/*.qsf
board/**/*.sof
board/**/*.psf
board/**/*.sta.*
board/**/incremental_db/
board/**/simulation/
db/
greybox_tmp/
incremental_db/
pll.qip
simulation/
**/**/*.bak

